/Messenger/bin/*
/Messenger/obj/
/Messenger.Data/obj/
/Messenger.Infrastructure/obj/
/Messenger.Data/bin/
/Messenger.Infrastructure/bin/
/Messenger.Entities/obj
/Messenger.Entities/bin
/IexCloudProvider/obj/
/IexCloudProvider/bin/
/Pricer.IexCloudProvider/bin
/Pricer.IexCloudProvider/obj
/Pricer.GreeksCalculator/obj
/Pricer.Tests/bin/Debug
/Pricer.Tests/obj
/Pricer.GreeksCalculator/bin
/Pricer.Math/bin
/Pricer.Math/obj
